@page "/products"

<div class="my-component">
    This component is defined in the <strong>Shopping.Web.Products</strong> library.
</div>

<div class="col">
	<div class="row">
                
		@foreach (var product in ProductList)
		{
			<div class="col-12 col-md-6 col-lg-4">
				<p class="card-text">@product.Name</p>
				<p class="card-text">@product.Summary</p>
				<div className="text-right mt-2">
					<button
						className="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded"
					>
						Add to Basket
					</button>
				</div>
				<p></p>
			</div>
		}

		<div class="col-12">
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active">
						<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
